/* Fonctionnement */

.block{
      @include flex-column();
      padding-left: $pl;
      padding-right: $pr;
      padding-top: 40px;
      padding-bottom: 40px;
}

/* Restaurants */


.box-img{
      height: 70%;
      width: 100%;
      display: flex;
      position: relative;
      img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            border: none;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px; 
      }
}


.box-img .texte-style-strong{
      background-color: $color-tertiaire;
      color: #139273;
      border: none;
      border-radius: 3px;
      padding-left: 7%;
      padding-right: 7%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-right: 4%;
      @media screen and (min-width: 600px){
            margin-right: 2%;
      }
}

.hearts{
      @media screen and (min-width: 600px){
            margin-right: 2%;
            font-size: 25px;
      }
      font-size: 25px;
      margin-right: 4%;
      position: relative;
      width: 40px;
}

.fa-heart{
      position: absolute;
      top:0;
      left:0;
}

.full-hearts{
      background: transparent;
      transform:scale(0);
      padding-top: 7px;
}

.fa-regular.fa-heart{
      z-index: 2;
      padding-top: 7px;
      &:hover{
            color:transparent
      }
}



.fa-regular.fa-heart:hover ~ .full-hearts{
      transform:scale(1);
      background: rgb(147,86,220);
      background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(236,115,218,1) 98%, rgba(255,121,218,1) 99%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color:transparent;
      transition: all 1s ease-in;
}