/* Header elements */

body{
      background-color: #F6F6F6;
}

header{
      box-shadow: none;
      .box-icon{
            position: absolute;
            left: 4%;
            @media screen and (min-width: 600px){
                  width: auto;
                  height: auto;
            }
      }
      .arrow{
            color: #353535;
            font-size: 20px;
            @media screen and (min-width: 600px){
                  font-size: 35px;
            }
      }
}



/* Menu-all */

#main{
      display: flex;
      flex-direction: column;

}

#box-img{
      width: 100%;
      display: flex;
      height: 258px;
}

#box-img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      border: none;
}

#menu{
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      margin-top:-10%;
      background-color: $color-background;
      padding-left: 4%;
      padding-right: 4%;
      gap: 15px;
      @media screen and (min-width: 600px){
            padding-left: 20%;
            padding-right: 20%;
      }
      @include border-standart;
      button{
            margin-bottom: 50px;
            margin-top: 30px;
            align-self: center;
      }
}

.epd{
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      gap: 15px;
}
      
.entrees{
      opacity: 0;
      animation:cascade 1s;
      animation-delay:1s;
      transition-property: opacity;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode:forwards;
}

.plats{
      opacity: 0;
      animation:cascade 1s;
      animation-delay:2s;
      transition-property: opacity;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode:forwards;
}

.desserts{
      opacity: 0;
      animation:cascade 1s;
      animation-delay:3s;
      transition-property: opacity;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode:forwards;
}


@-webkit-keyframes cascade{
      from{
            opacity: 0;
      }
      to{
            opacity: 1;
      }
}

@keyframes cascade{
      from{
            opacity: 0;
      }
      to{
            opacity: 1;
      }
}

.menu-titre{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 30px;
      padding-right: 6%;
      h1{
            font-family:'Shrikhand', cursive;
            font-size: 25px;
      }
      i{
            font-size: 25px;
      }
}

.sous-titre{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 15px;
      gap:5px;
}

hr{
      border: 2px solid $color-tertiaire;
      width: 10%;
      @media screen and (min-width: 600px){
            width: 5%;
      }
}

.menu-position{
      @include border-standart;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      box-shadow: $shadow;
      background-color: white;
      overflow-x: hidden;
      span{
            align-self: center;
            padding-right: 15px;
      }
}

.position-titre{
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 70%;
      left: 0;
      padding-top:16px;
      padding-bottom:16px;
      padding-left: 3%;
      .texte-style-strong, .texte-style-normal{
            text-overflow: ellipsis;
            overflow:hidden;
            white-space: nowrap;
      }
      
}

.box-check{
      display: flex;
      margin-right: -77px;
      background-color: $color-tertiaire;
      width: 20%;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      @media screen and (min-width: 600px){
            width: 10%;
      }
}

.check-icon{
      color: white;
      align-self: center;
      padding-left: 35%;
      width: 100%;
     
}

.menu-position:hover{
      .box-check{
            margin-right: 0px;
            animation-name: panier;
            animation-duration: 1s;
      }
}

.menu-position:hover{
      .check-icon{
            transform: rotate(180deg);
            animation-name:  rotating;
            animation-duration: 2s;
      }
}

@keyframes panier {
      from {
            margin-right: -77px;
      }

      to {
            margin-right: 0px; 
      }
}

@keyframes rotating {
      from   { transform: rotate(0deg); }
      to { transform: rotate(180deg); }
    }