$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire:#99E2D0;
$color-background:#F6F6F6;

/* Police */
$font-text:'Roboto';

$shadow: 0 3px 4px #cfcfcf;

$edge-standart:15px;

/* Padding */
$pl:12%;
$pr:12%;
$pt:15px;
$pb:15px;