$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire:#99E2D0;
$color-background:#F6F6F6;
$color-demi-black:#353535;
$color-dark-gris:#7E7E7E;

/* Police */
$font-text:'Roboto';

$shadow: 0 3px 4px #cfcfcf;
$darken-shadow: 0 3px 4px darken(#cfcfcf,30%);

$edge-standart:4%;

/* Padding */
$pl:7%;
$pr:7%;
$pt:15px;
$pb:15px;