

header{
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      box-shadow: $shadow;
      height: 76px;
      @media screen and (min-width: 600px){
            padding: 53px;
      }
}

#logo-top{
      width:40%;
}

button {
      @include border-standart;
      background: rgb(147,86,220);
      background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(236,115,218,1) 98%, rgba(255,121,218,1) 99%);
      width: 70%;
      height: 49px;
      margin-top: 15px;
      box-shadow: $shadow;
      .texte-style-normal{
            color: white;
      }
      &:hover{
            background: linear-gradient(0deg, rgba(147,86,220,0.9) 0%, rgba(236,115,218,0.9) 98%, rgba(255,121,218,0.9) 99%);
            cursor: pointer;
            box-shadow: $darken-shadow;
      }
}



/* Footer */

footer{
      display: flex;
      flex-direction: column;
      gap: 7px;
      background-color: #353535;
      padding-top:40px;
      padding-bottom:40px;
      padding-left: 7%;
      padding-right: 7%;
      li{
            @include flex-row;
            gap:2%;
            justify-content: flex-start;
            @media screen and (min-width: 600px){
            justify-content: center;
            }
      }
      img{
            color: white;
            width: 30%;
            margin-bottom: 20px;
            @media screen and (min-width: 600px){
            align-self: center;
            }
      }
      a{
            color:white;

      }
}

.footer-icon{
      margin-bottom: 0;
      color: white;
}
