/* Loading */

.preloader{
      position: fixed;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
      z-index: 3;
      opacity: 1;
      animation: montrer 3s;
      animation-fill-mode: forwards;

}

.loader{
      width: 100px;
      height: 100px;
      border: 20px solid #F6F6F6;
      border-radius: 50%;
      border-color:white;
      border-top-color: rgba(147,86,220,1);
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      animation:1s spin infinite linear;
}


@keyframes spin{
  from {
        transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes montrer{
      0% {
            opacity: 1;
      }
      30%{
            opacity: 0.9;
            transform:scale(0.9);
      }
      50%{
            opacity: 0.7;
            transform:scale(0.7);
      }
      70%{
            opacity: 0.5;
            transform:scale(0.5);
      }
      100%{
            opacity: 0;
            transform:scale(0);
      }
}


/* Header elements*/

#location-bar{
      @include flex-row;
      background-color: #E5E5E5;
      justify-content: center;
      padding-left: $pl;
      padding-right: $pr;
      padding-top: $pt;
      padding-bottom: $pb;
      z-index: 1;
      gap:2%;
            .box-icon i{
                  color: $color-demi-black;
                  padding-top: 5px;
                  padding-bottom: 5px;
            }
            .texte-style-normal{
                  color:#353535;
            }
      @media screen and (min-width: 600px){
            align-items: center;
      }
}


/* Reserver */

#reserver-menu{
      @include flex-column();
      background-color:$color-background;
      align-items: center;
      text-align: center;
      padding-left:12%;
      padding-right:12%;
      padding-top:35px;
      padding-bottom: 40px;
}


/* Fonctionnement */

.fonctionnement{
      @media screen and (min-width: 600px){
            display: flex;
            h2{
                  text-align: center;
            }
      }
}

#steps-area{
      @include flex-column();
      padding-left: 3%;
      @media screen and (min-width: 600px){
            width: 70%;
            align-self: center;
            gap:25px;
            padding-left:0;
      }
}


.steps-carte{
      @include flex-row;
      @include border-standart;
      position: relative;
      justify-content: flex-start;
      align-items: baseline;
      background-color: $color-background;
      box-shadow: $shadow;
      padding-top: 18px;
      padding-bottom: 18px;
      gap:12%;
      padding-left: 12%;
      i{
            color:$color-dark-gris;
      }
      @media screen and (min-width: 600px){
            padding-left: 10%;
            padding-right: 10%;
            justify-content: space-around;
            .steps-icon{
                  order: 1;
            }
            i{
                  order: 3;
            }
      }
}

.icon-absolute{
      position: absolute;
      left: -10px;
      width: 26px;
      height: 14px;
      @media screen and (min-width: 600px){
            position: relative;
      }
      .numbers{
            text-align: center;
            color: white;
            background-color: $color-primaire;
            border: none;
            border-radius: 17px;
            font-size: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
      }

}

/* Restaurants */

.restaurants{
      background-color: $color-background;
}

#cartes-box{
      @include flex-column();
}

.carte-de-rest{
      @include flex-row;
      @include border-standart;
      flex-wrap: wrap;
      background-color: white;
      box-shadow: $shadow;
      justify-content: space-between;
      align-items: normal;
      height: 251px;
      padding-bottom: 14px;
}

.box-nouveau{
      position: absolute;
      display: flex;
      justify-content: flex-end;
      width: 100%;
}

.carte-texte{
      @media screen and (min-width: 600px){
            margin-left: 2%;
            width: 70%;
      }
      margin-left: 4%;
      gap: 6px;
      display: flex;
      flex-direction: column;
      align-self: center;
}