/* Mixins */
/* Police */
/* Padding */
html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  display: block;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
}

.texte-style-normal {
  font-weight: 400;
  font-size: 15px;
  color: #353535;
}

.texte-style-strong {
  font-weight: 500;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

.box-icon {
  width: 24px;
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.icons {
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  width: 100%;
}

/* Fonctionnement */
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Restaurants */
.box-img {
  height: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.box-img .texte-style-strong {
  background-color: #99E2D0;
  color: #139273;
  border: none;
  border-radius: 3px;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-right: 4%;
}

@media screen and (min-width: 600px) {
  .box-img .texte-style-strong {
    margin-right: 2%;
  }
}

.hearts {
  margin-right: 4%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 600px) {
  .hearts {
    margin-right: 2%;
    font-size: 20px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 3px 4px #cfcfcf;
          box-shadow: 0 3px 4px #cfcfcf;
  height: 76px;
}

@media screen and (min-width: 600px) {
  header {
    padding: 53px;
  }
}

#logo-top {
  width: 40%;
}

button {
  border: none;
  border-radius: 25px;
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), color-stop(98%, #ec73da), color-stop(99%, #ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ec73da 98%, #ff79da 99%);
  width: 70%;
  height: 49px;
  margin-top: 15px;
  -webkit-box-shadow: 0 3px 4px #cfcfcf;
          box-shadow: 0 3px 4px #cfcfcf;
}

button .texte-style-normal {
  color: white;
}

button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), color-stop(98%, rgba(236, 115, 218, 0.9)), color-stop(99%, rgba(255, 121, 218, 0.9)));
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(236, 115, 218, 0.9) 98%, rgba(255, 121, 218, 0.9) 99%);
  cursor: pointer;
  -webkit-box-shadow: 0 3px 4px #838383;
          box-shadow: 0 3px 4px #838383;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  background-color: #353535;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 7%;
  padding-right: 7%;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 600px) {
  footer li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer img {
  color: white;
  width: 30%;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  footer img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

footer a {
  color: white;
}

.footer-icon {
  margin-bottom: 0;
  color: white;
}

/* Header elements*/
#location-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E5E5E5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
  gap: 2%;
}

#location-bar .box-icon i {
  color: #353535;
  padding-top: 5px;
  padding-bottom: 5px;
}

#location-bar .texte-style-normal {
  color: #353535;
}

@media screen and (min-width: 600px) {
  #location-bar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Reserver */
#reserver-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  background-color: #F6F6F6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 35px;
  padding-bottom: 40px;
}

/* Fonctionnement */
@media screen and (min-width: 600px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fonctionnement h2 {
    text-align: center;
  }
}

#steps-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding-left: 3%;
}

@media screen and (min-width: 600px) {
  #steps-area {
    width: 70%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    gap: 25px;
    padding-left: 0;
  }
}

.steps-carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 25px;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 3px 4px #cfcfcf;
          box-shadow: 0 3px 4px #cfcfcf;
  padding-top: 18px;
  padding-bottom: 18px;
  gap: 12%;
  padding-left: 12%;
}

@media screen and (min-width: 600px) {
  .steps-carte {
    padding-left: 10%;
    padding-right: 10%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .steps-carte .steps-icon {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .steps-carte i {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.steps-carte i {
  color: #7E7E7E;
}

.icon-absolute {
  position: absolute;
  left: -10px;
  width: 26px;
  height: 14px;
}

@media screen and (min-width: 600px) {
  .icon-absolute {
    position: relative;
  }
}

.icon-absolute .numbers {
  text-align: center;
  color: white;
  background-color: #9356DC;
  border: none;
  border-radius: 17px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Restaurants */
.restaurants {
  background-color: #F6F6F6;
}

#cartes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.carte-de-rest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  -webkit-box-shadow: 0 3px 4px #cfcfcf;
          box-shadow: 0 3px 4px #cfcfcf;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  height: 251px;
  padding-bottom: 14px;
}

.box-nouveau {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.carte-texte {
  margin-left: 4%;
  gap: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (min-width: 600px) {
  .carte-texte {
    margin-left: 2%;
    width: 70%;
  }
}
/*# sourceMappingURL=01_Accueil_main.css.map */